.item-wrapper {
    border: 1px solid black;
    display: flex;

    align-items: center;
    justify-content: space-around;


    width: 300px;
    height: 200px;

    cursor:pointer;
}

.item-sub-wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    width: 95%;
    height: 95%;

    border: 1px solid salmon;
}

.img {
    width: 45%;
    height: 65%;
    border: 1px solid red;
}

.item-data {
    border: 1px solid blue;
    width: 50%;
    height: 65%;

    display: flex;
    flex-direction: column;


    align-items: center;
    justify-content: space-around;

    overflow:unset ;
}

.item-title{
    font-style: bold;
    font-size: 1.5em;

    padding: 0px;
    margin: 0px;
}

.item-par{
    font-style: bold;
    font-size: 0.9em;

    padding: 0px;
    margin: 0px;
}